# Visual Studio Gitingore File

## Ignore all files in the obj and bin folders
**/[Oo]bj/
**/[Bb]in/

## Ignore Visual Studio temporary files, build results, and caches
.vs/
*.suo
*.user
*.sln.docstates

# User Secrets
# secrets.json 파일이 실수로라도 포함되지 않도록 합니다.
**/secrets.json

# Rider / VS Code
.idea/
.vscode/

# Other
*.lock.json
*.pyc
*.swp